<!DOCTYPE html>
<html>
	<head> 
		<meta charset="utf-8"/>
		<meta name="viewport" content="user-scalable=no,width=device-width" />
		<link rel="stylesheet" href='/static/css/style.css' /> 
		<script> 
			function toggleGray(name){
				var element = document.getElementById(name).style;
				if( element.textDecoration == "line-through" ) {
					element.color = "black"; 
					element.textDecoration = "none";
				} else { 
					element.color = "#D3D3D3" ; 
					element.textDecoration = "line-through";
				}
			}
			function hide(id) {
				var element = document.getElementById(id).style ; 
				if( element.display == "none" ) {
					element.display = "block" ; 
				} else { 
					element.display = "none" ; 
				}
			}
		</script>
		<title> {{.Title}} </title> 
	</head>
	<body>
		<h1> {{.Title}} </h1>
		<p id="menu-link"><a href="/">Lien vers le menu</a></p>
		<h2 onclick="hide('form')"> Editer </h2>
		<p>
			<form id="form" method="post" style="display:none;">
				<textarea name="liste" rows=15 cols=40>
{{.Raw_body}}
				</textarea><br />
				<input type="submit" />
			</form>
		</p>
		<p>
			{{range $name, $value := .Processed_body}}<h3>{{$name}}</h3>
				<ul> 
					{{range $elem := $value}}<li><span id="{{$elem.Index}}" onclick="toggleGray('{{$elem.Index}}')">{{$elem.Valeur}}</span></li>
					{{end}}
				</ul>
			{{end}}
	</body> 
</html>
